[run]
source = src
omit = src/**/__init__.py,src/tests/**,src/ui/**,src/index.py,src/test_main_game.py,src/scores.py,src/menu.py,src/levels_2_graphic.py,src/not_in_use/**,src/settings.py,src/gamedata.py
