[run]
source = src
omit = src/**/__init__.py,src/tests/**,src/ui/**,src/index.py,src/test_main_game.py,src/login_menu.py,src/scores.py,src/menu.py,src/levels_2_graphic.py,src/not_in_use/**,src/settings.py,src/gamedata.py,src/game.py,src/monster.py,,src/player.py,src/tiles.py
